@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkseagreen;
    font-family: 'Roboto', sans-serif;
}

#header {
    border: 1px solid #b5b7ba;
    background-color: #434445;
    min-width: 1280px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

#center {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#center1 {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#header a {
    color: #a4a4a4;
    padding: 0 40px;
    font-size: 27px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

#content h1 {
    min-width: 1200px;
    text-align: center;
    color: teal;
    font-size: 35px;
    font-weight: 300;
    margin-top: 63px;
    margin-bottom: 75px;
}

#avatar img {
    border-radius: 50%;
}

#content img {
    width: 389px;
    padding: 10px;
}

#box_text1 img {
    width: 200px;
    padding: 10px;
}

#content #box_text {
    /*pole  текстa*/
    width: 671px;
    background-color: lightgreen;
    float: right;
    padding: 49px 48px 51px 76px;
    margin-bottom: 100px;
    text-align: center;

}

#content #box_text1 {
    /*pole  текстa в сертификатах*/
    width: 900px;
    background-color: lightgreen;
    padding: 49px 48px 51px 76px;
    margin-bottom: 100px;
}

#content #box_text p {
    /* текст*/
    color: darkslategray;
    font-size: 27px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;

}

#content #box_text a {
    /*ccылка в тексте на GB*/
    color: darksalmon;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right: 25px;
}

#content #box_text1 a {
    /*ccылки в тексте на сертификаты GB*/
    color: darkslateblue;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right: 25px;
}


#footer {
    background-color: #434445;
    min-width: 1280px;
    height: 140px;
    margin: 0 auto 0;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
    clear: both;
}

#footer a {
    color: darksalmon;
}